@tailwind base;
@tailwind components;

.banner {
    @apply bg-red-600 px-32 py-3 mt-16 w-full;
}

.banner-label {
    @apply text-2xl text-white font-bold uppercase;
}

.btn {
    @apply flex items-center justify-center border-2 text-gray-100 py-1 px-2  rounded-md tracking-wide font-bold  shadow-lg cursor-pointer transition ease-in duration-500;
}

.btn-default {
    @apply bg-red-500 border-red-500;
}

.btn-default:hover {
    @apply bg-red-600  border-red-600;
}

.btn-secondary {
    @apply bg-white border-gray-400 text-gray-600;
}

.btn-secondary:hover {
    @apply bg-gray-400 text-white;
}

.label {
    @apply font-bold text-red-600 tracking-wide;
}

.form-control {
    @apply w-2/3 text-base px-2 py-1 border border-gray-300 rounded-md;
}

.form-control:focus {
    @apply outline-none border-red-600;
}

.flaticon {
    @apply mx-2 fill-current text-white h-3.5;
}

@tailwind utilities;
